<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>845666231150-dnl0shrtucbqqsubpkif7gsh8v1apcfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845666231150-dnl0shrtucbqqsubpkif7gsh8v1apcfq</string>
	<key>API_KEY</key>
	<string>AIzaSyCPRuMOpPWTjGOAhdtVl-5jQC5DshK3ApA</string>
	<key>GCM_SENDER_ID</key>
	<string>845666231150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alctech.Nusic</string>
	<key>PROJECT_ID</key>
	<string>newsic-54b6e</string>
	<key>STORAGE_BUCKET</key>
	<string>newsic-54b6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:845666231150:ios:a4e37ebaad55cdc5</string>
	<key>DATABASE_URL</key>
	<string>https://newsic-54b6e.firebaseio.com</string>
</dict>
</plist>
